body {
    margin: 0;
    padding: 0;
    font-family: Andale Mono, monospace;
    background: url(luffy-sleeping.png) no-repeat center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background: rgba(red, green, blue, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(red, green, blue, 0.5);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #007bff;
}

.login-container input {
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #0000ff;
    border-radius: 5px;
}

.login-container button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0056b3;

}

@media (max-width: 480px) {
    .login-container {
        width: 80%;
    }

    body {
        background: url(luffy-sleeping.png);
        background-size:cover;
        background-position:70%;
    }

    .login-container h2 {
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #0e4a4a;
       
        
    }
}